@import url(https://fonts.googleapis.com/css?family=Carrois+Gothic);
@import url(https://fonts.googleapis.com/css?family=Carrois+Gothic+SC);
@import url(https://fonts.googleapis.com/css?family=Marcellus);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
	background-color: #666666;
	font-size: 62.5%;
}


.webpage {
	width: 960px;
	margin: 0 auto;
	background-color: white;
	height: 800px;
	margin-top:10px;
}

/*h1 {
	text-align: center;
	margin:0;
	padding:20px;*/
}

header {
	width:960px;
	margin: 0 auto;
	padding: 20px;*/
}

header img{
	display: block;
	margin: auto;
}

#topnav {
/* padding: .5em;*/
	height: 30px;
	margin-bottom: 20px;
	background-color: black;
	text-align: center;
}

#topnav ul {
	list-style: none;
	margin: 0px; /*Overwrite default */  
	padding-top: 5px;
}

#topnav li{
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
}

#topnav li a {
	color: white;
	text-decoration: none;
	font-size: 1.4em;
	font-family: 'Carrois Gothic', sans-serif; 
	padding:1em;
	text-align: center;
	text-transform: uppercase;
}

#homepageimage {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 1px;
	/*border: 1px solid #021a40;*/
}


#section {
	width: 490px;
	margin: 38px auto 20px auto;
	line-height: 25px;
	font-family: 'Carrois Gothic', sans-serif;
	font-size: 1.3em;
}



#bottommenu {

}
